/* Global variables */
:root {
    --body: rgb(7, 7, 41);
    --light-blue: rgb(125, 125, 221);
    --purple: rgb(179, 69, 179);
    --blue: rgb(18, 18, 80);
    --white: #ece6e6;
}

/* Adjustments to the whole web */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts and Background of the main-body */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    background-color: var(--body);
}

/* Start the dimensions of header */
body header {
    height: 16vh;
}

/* End the dimensions of header */
/* Contents and the whole stuffs */
body main {
    position: absolute;
    z-index: 100;
    padding: 0vh 4vw;
    font-size: 1.5vw;
}

/* Start Header(main) */
body header #hfx {
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
    height: 16vh;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--white);
}

/* Start Header-Top */
body header #hfx #htp {
    align-self: flex-end;
    width: 100%;
    height: 8vh;
    font-size: 2vw;
    background-color: var(--body);
    border-bottom: var(--light-blue) .3vh solid;
}

/* Header-Top and right Heading's Raushan's Portfolio */
body header #hfx #htp #rhf #rhng #right {
    position: relative;
    float: right;
    color: var(--white);
}

/* End Header-Top */
/* Start Header-Down */
body header #hfx #hdwn {
    align-self: flex-start;
    height: 8vh;
    width: 100%;
    background-color: var(--white);
    border-bottom: var(--light-blue) .5vh solid;
}

/* Header-Down when hovered */
body header #hfx #hdwn:hover {
    background-color: darkorange;
}

/* Header-Down unordered list of direct-cnct */
body header #hfx #hdwn #lhf #lhng #left ul {
    position: absolute;
    right: 0;
    list-style-type: none;
    width: 50vw;
    height: 5vh;
    font-size: 2vw;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}

/* Header-Down Ham-Burger left navigation menu bar */
body header #hfx #hdwn #lhf #lhng #left #mbar {
    display: flex;
    justify-content: flex-start;
    padding: 3vh 1vw;
    position: absolute;
    left: 0;
    top: 7vh;
}

/* Header-Down Ham-Burger Bars-container(4 Bars) */
body header #hfx #hdwn #lhf #lhng #left #mbar .mbar {
    display: block;
    width: 8vw;
    height: 4vh;
    cursor: pointer;
    position: relative;
}

/* Header-Down Bar of the Ham-Burger */
body header #hfx #hdwn #lhf #lhng #left #mbar .mbar .bar {
    display: block;
    width: 8vw;
    height: .3vh;
    background-color: #333;
    margin: .5vh auto;
    transition: all 1000ms 10ms ease-in-out;
}

/* JavaScript Ham-Burger animation */
/* Header-Down Ham-Burger bars animation/visualization after clicking on Ham-Burger container */
body header #hfx #hdwn #lhf #lhng #left #mbar .mbar.mbtn .bar:nth-child(2),
body header #hfx #hdwn #lhf #lhng #left #mbar .mbar.mbtn .bar:nth-child(3) {
    opacity: 0;
}

/* Header-Down Right-Down transition bar */
body header #hfx #hdwn #lhf #lhng #left #mbar .mbar.mbtn .bar:first-child {
    transform: translateY(3px) rotate(45deg);
}

/* Header-Down Left-Up transition bar */
body header #hfx #hdwn #lhf #lhng #left #mbar .mbar.mbtn .bar:last-child {
    transform: translateY(-10px) rotate(135deg);
}

/* End JavaScript Ham-Burger animation */
/* Header-Down list container */

body header #hfx #hdwn #lhf #lhng #left ul li a {
    font-weight: 750;
    text-decoration: none;
}

/* Header-Down Start list element */
body header #hfx #hdwn #lhf #lhng #left ul li a #igm {
    color: rgb(255, 0, 212);
    color: var(--body);
    font-size: 65%;
    position: relative;
}

body header #hfx #hdwn #lhf #lhng #left ul li a #git {
    color: var(--body);
    font-size: 65%;
    position: relative;
}

body header #hfx #hdwn #lhf #lhng #left ul li a #cnct {
    color: var(--body);
    font-size: 65%;
    position: relative;
}

/* Header-Down End list element */
/* Header-Down Start list element and icon hovered */
body header #hfx #hdwn #lhf #lhng #left ul li a #igm:hover,
body header #hfx #hdwn #lhf #lhng #left ul li a #igm i:hover,
body header #hfx #hdwn #lhf #lhng #left ul li a #git:hover,
body header #hfx #hdwn #lhf #lhng #left ul li a #git i:hover,
body header #hfx #hdwn #lhf #lhng #left ul li a #cnct:hover,
body header #hfx #hdwn #lhf #lhng #left ul li a #cnct i:hover {
    color: aliceblue
}

/* Header-Down End list element and icon hovered */
/* Header-Down Start icon size and color of the list element hovered */
body header #hfx #hdwn #lhf #lhng #left ul li a #igm i {
    font-size: 120%;
    color: rgb(255, 0, 212);
}

body header #hfx #hdwn #lhf #lhng #left ul li a #git i {
    font-size: 120%;
    color: var(--body);
}

body header #hfx #hdwn #lhf #lhng #left ul li a #cnct i {
    font-size: 120%;
    color: rgb(255, 6, 6);
}

/* Header-Down End icon of the list element hovered */
/* End Header */
/* Start main(main-content) */
body main .navBar,
body main .navBar .navBar-menu,
body main .navBar .navBar-menu .navBar-full {
    position: absolute;
    left: -100vw;
    /* z-index: 100; */
    width: 92vw;
    height: 15vw;

}

/* Start smooth Transition and Transformation of navBar */
.navBar.navToggle {
    /* display: block; */
    position: absolute;
    left: 103vw;
    transform: translateX(100vw);
    transition-property: transform;
    transition-duration: 1000ms;
    transition-delay: 10ms;
    transition-timing-function: ease-in-out;
}

/* End Transition and Transformation of navBar  */
/* Start NavBar menus */
body main .navBar .navBar-menu .navBar-full {
    display: flex;
    font-size: 90%;
    font-weight: 700;
    justify-content: space-around;
    color: var(--body);
    background-color: var(--white);
}

/* End NavBar menus */


body main .navBar .navBar-menu .navBar-full #navSection-1,
body main .navBar .navBar-menu .navBar-full #navSection-2,
body main .navBar .navBar-menu .navBar-full #navSection-3,
body main .navBar .navBar-menu .navBar-full #navSection-4 {
    display: flex;
    width: 18%;
    justify-content: space-between;
}

/* Start navBar menus */
body main .navBar .navBar-menu .navBar-full #navSection-1 #menu-1,
body main .navBar .navBar-menu .navBar-full #navSection-2 #menu-2,
body main .navBar .navBar-menu .navBar-full #navSection-3 #menu-3,
body main .navBar .navBar-menu .navBar-full #navSection-4 #menu-4 {
    width: 73%;
}

body main .navBar .navBar-menu .navBar-full #navSection-1 #menu-1 #Programming-languages {
    font-size: 80%;
}

/* End navBar menus */

/* End main(main-content) */

@media screen and (min-width:801px) and (max-height: 800px) {
    body header #hfx {
        height: 16vh;
        font-size: 2vw;
    }

    body header #hfx #htp,
    body header #hfx #hdwn {
        font-size: 4vh;
        height: 8vh;
    }

    body header #hfx #hdwn #lhf #lhng #left #mbar .mbar {
        width: 4vw;
    }

    body header #hfx #hdwn #lhf #lhng #left #mbar .mbar .bar {
        width: 4vw;
    }
}

@media screen and (max-width:800px) and (min-height: 801px) {
    body header {
        height: 10vh;
    }

    body header #hfx {
        height: 10vh;
        font-size: 2vw;
    }

    body header #hfx #htp,
    body header #hfx #hdwn {
        font-size: 2vh;
        height: 5vh;
    }

    body header #hfx #hdwn #lhf #lhng #left #mbar {
        padding: 3.5vh 2vw;
        top: 2vh;
    }

    body main .navBar,
    body main .navBar .navBar-menu,
    body main .navBar .navBar-menu .navBar-full {
        top: 10vh;
    }

    body header #hfx #hdwn #lhf #lhng #left #mbar .mbar {
        width: 5vw;
    }

    body header #hfx #hdwn #lhf #lhng #left #mbar .mbar .bar {
        width: 5vw;
    }

    body header #hfx #hdwn #lhf #lhng #left #mbar .mbar.mbtn .bar:first-child {
        transform: translateY(19px) rotate(45deg);
    }

    body header #hfx #hdwn #lhf #lhng #left #mbar .mbar.mbtn .bar:last-child {
        transform: translateY(0vh) rotate(135deg);
    }
}