body header div.navList nav ul#navList li:hover {
    color: var(--navListHoverTransparent);
    box-shadow: 0.2em 0.2em 1.5vh -.1vh var(--navListHoverPink), inset -0.25em -0.25em 1.5vh -.1vw var(--navListHoverPink);
}

body header div.navList nav ul#navList li a:active {
    border: 0.25rem var(--navListShadow) groove;
    border-radius: 1.5rem 1.5rem;

}

body header div.navList nav ul#navList li a,
body header div.navList nav ul#navList li a:active,
body header div.navList nav ul#navList li a:focus {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}